PORT=5000
DATABASE_URL=postgresql://postgres:pass@localhost:port/dbName?schema=public

DB_NAME=dbName

DB_HOST=localhost
DB_PORT=port
DB_USER=postgres
DB_PASSWORD=12345 
SECRET_KEY=12345

SMTP_HOST=smtp.yandex.ru
SMTP_PORT=587
SMTP_SECURE = false
EMAIL_USER=example@yandex.ru
EMAIL_PASS=pass

JWT_SECRET = 12345
JWT_EXPIRES='15m'
JWT_REFRESH_EXPIRES='7d'
JWT_REFRESH_SECRET=123456789
BCRYPT_SALT_ROUNDS = 10
PASSWORD_PEPPER = 12345